[MESSAGES CONTROL]

disable=import-error,
    invalid-name,
    no-member,
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    too-few-public-methods,
    no-name-in-module,
    no-self-use,
    unused-import,
    too-many-arguments,
    arguments-differ,
    super-init-not-called,
    no-else-return,
    too-many-return-statements,
    duplicate-code,
